// Base colors
$primary: #022B5B;
$general-background:#F2F4F8;
$secondary: #6c757d; 
$footer-background: #F4F4F9;
$text-heading: #353F4F;
$text-para: #6C757D;
$trinery: #F5F5F5;
$light: #f8f9fa;
$white:#ffffff;
$line:#E4E4E4;
$product-background: linear-gradient(
  180deg,
  #F4F4F9 0%,
  rgba(244, 244, 249, 0) 100%
);
$black:#000000;


$futer-txt-btm: #9E9E9E;


// Headings
$font-size-primery: 4.688rem; //80px
$font-size-third: 3.75rem; //60px
$font-size-third-2: 3.438rem; //50px
$font-size-fourth: 2.5rem; //40px
$font-size-fifth: 1.875rem; //30px 
$font-size-fifth-2: 1.75rem; //28px 
$font-size-sixith: 1.5rem; //24px
$font-size-seventh: 1.25rem; //20px
$font-size-eight: 1rem; //16px
$font-size-eighteen: 1.125rem; //18px
$font-footer-heading: 3.125rem; //50px
$font-992-title: 2.875rem; //46px
$font-768-title: 2.188rem; //35px

// Body text
$font-size-base075: 0.75rem; //12px
$font-size-base0875: 0.875rem; //14px
$font-size-base1: 1rem; //16px
$font-size-base05: 1.125rem; //18px
$font-size-base2: 1.25rem; // 20px
$font-size-base3: 1.5rem; //24px
$font-size-base4: 1.375rem; //22px
$font-size-base8: 3rem; //48px

// line height
$h1-lh: 86px;
$h2-lh: 70px;
$h3-lh: 60px;
$h3-lh-2: 50px;
$h4-lh: 46px;
$h4-lh-2: 45px;
$h5-lh: 40px;
$head-lh: 36px;
$base-lh-1: 30px;
$base-lh-2: 28px;
$medium-lh: 24px;
$small-lh: 20px;
$small-lh-2: 22px;
$x-small-lh: 18px;
$medium-lh-2: 26px;
$lh-hundred: 100%;

// radius
$radius-round: 50%;
$radius-pill: 50PX;
$radius-xxl: 25px;
$radius-xl: 20px;
$radius-l: 16px;
$radius-l-2: 14px;
$radius-m: 10px;
$radius-s: 8px;
$radius-xs: 4px;
$radius-30: 30px;


$gredient-one:linear-gradient(102.85deg, rgba(153, 229, 255, 0.3803921569) 16.09%, rgba(241, 250, 254, 0.4784313725) 29.54%, rgba(235, 248, 253, 0.4509803922) 46.09%, rgba(255, 255, 255, 0.5411764706) 63.01%, rgba(255, 240, 201, 0.6588235294) 80.61%);
$head-txt:#212529;
$head-txt-two:#353F4F;