@import '../scss/variable';
@import '../scss/common';
@import '../scss/mixin';

.section-padding {
    padding: 90px 0;

    @media(max-width:992px) {
        padding: 60px 0;
    }

    @media(max-width:768px) {
        padding: 40px 0;
    }
}

.card-basic-1 {
    border: 1px solid #000;
    width: 450px;
    border-radius: 6px;

    .card-call-btn,
    .card-whatsapp-btn {
        padding: 6px;
        border: 1px solid #000;
        border-radius: 50%;
    }
}
